/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';

import messages from './messages';
{{/if}}
// import styles from './styles.scss';

/* eslint-disable react/prefer-stateless-function */
class {{ properCase name }} extends {{{ type }}} {
  render() {
    return (
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  // children: PropTypes.element.isRequired,
};

export default {{ properCase name }};
